<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tento de Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="placar">
      <h1 class="ion-text-center">Valendo: 1</h1>
      <ion-card color="light">
      <div class="buttons">
        <ion-button color="dark">1</ion-button>
        <ion-button color="dark">3</ion-button>
        <ion-button color="dark">6</ion-button>
        <ion-button color="dark">9</ion-button>
        <ion-button color="dark">12</ion-button>
      </div>
    </ion-card>
    </div>
    <ion-card color="light">
    <div class="teams">
      <div class="team1">
        <h2>Time 1</h2>
        <ion-button class="btn add" color="dark">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <h1>0</h1>
        <ion-button class="btn remove" color="dark">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
      </div>
      <h1>X</h1>
      <div class="team2">
        <h2>Time 2</h2>
        <ion-button class="btn add" color="dark">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <h1>0</h1>
        <ion-button class="btn remove" color="dark">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card>
  <ion-card color="light">
    <div class="partidas">
      <h2>Partidas</h2>
      <div class="contador">
        <div class="team">
          <h3>TIME 1</h3>
          <span>0</span>
        </div>
        <div class="team">
          <h3>TIME 2</h3>
          <span>0</span>
        </div>
      </div>
    </div>
  </ion-card>
  </div>

</ion-content>
